body {
    background-color: #ffccff; /* Світло-рожевий фон */
    font-family: Arial, sans-serif;
    text-align: center;
}

canvas {
    background-color: #ff99cc; /* Темніший рожевий для поля гри */
    border: 5px solid #ff66b2; /* Насичений рожевий контур */
    display: block;
    margin: 20px auto;
}

h1, p {
    color: #cc0066; /* Темно-рожевий текст */
}

button {
    background-color: #ff66b2;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: #cc0066;
}
